* {
  font-family: 'Poppins', sans-serif;
}
input{
  background-color: #8da2ff11;
  border-radius: 8px;
   outline: none;
  width:300px;
  /* height:40px; */
  padding: 12px;
  border: 1px solid #5271ff;
  font-size: 15px;
  font-weight: 500;
  color:black;
  letter-spacing: 1px;
}
input::placeholder{
  color:rgba(50, 50, 50, 0.726);
}
input:focus{
  border: 2px solid #52ffa6;
}
textarea:focus{
  border: 2px solid #52ffa6;
}
textarea{
  letter-spacing: 1px;
  /* background-color: blue; */
  border: 2px solid rgba(49, 0, 0, 0.871);
  border-radius: 5px;
   outline: none;
  width:300px;
  border: 1px solid #5271ff;
  padding: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  color:rgb(25, 33, 255);
}
textarea::placeholder{
  color:rgba(50, 50, 50, 0.726);
}
.book-btn{
  background-color:rgba(132, 119, 255, 0.823) ;
  color:rgb(255, 253, 253);
  padding: 10px 30px;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.book-btn:hover{
  background-color:whitesmoke;
  color:black;
  box-shadow:4px 4px 6px 0px rgba(120, 92, 205, 0.767);
}